@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .box {
        @apply m-8 p-8 w-10/12 lg:w-96 flex flex-col justify-center items-center border-2 border-amber-500 rounded-md bg-gray-200 shadow-xl hover:scale-110 transition-transform duration-500 ease-in-out;
    }

    .image {
        @apply w-full border-2 border-black rounded-md shadow-sm;
    }

    .heading {
        @apply mt-4 flex justify-center items-center font-bold text-2xl lg:text-3xl text-blue-700;
    }

    .description {
        @apply text-center text-base text-black font-medium;
    }
}
